<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://webdock.io/static/common/images/webdock-logo-hvid.svg" height="34" class="d-inline-block align-top" alt="Logo">
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="display: block;" id="login" href="#">Login</a>
                <a class="nav-link" style="display: none;" id="logout" href="#">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="display: block;" id="signin" href="#">Sign Up</a>
                <a class="nav-link" style="display: none;" id="signin-user"></a>
            </li>
        </ul>
    </div>
</nav>
<script>
    //Function to toggle display of an element or an array of elements
    const toggleDisplay = (btn) => {
        if (Array.isArray(btn)) {
            for (let i = 0; i < btn.length; i++) {
                let display = btn[i].style.display;
                btn[i].style.display = (display === "none") || (display.length === 0) ? "block" : "none";
            }
        } else {
            let display = btn.style.display;
            btn.style.display = (display === "none") || (display.length === 0) ? "block" : "none";
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const loggedInUser = localStorage.getItem("user");
        const loginBtn = document.querySelector("#login");
        const logoutBtn = document.querySelector("#logout");
        const signinBtn = document.querySelector("#signin");
        const signinUser = document.querySelector("#signin-user");
        
        if (loggedInUser) {    
            signinUser.innerHTML = JSON.parse(loggedInUser).user_name;
            toggleDisplay([loginBtn, logoutBtn, signinBtn, signinUser]);
        }

        //Enable logout functionality
        logoutBtn.addEventListener("click", (e) => {
            e.preventDefault();           
            fetchWrapper.put("/internal/logout")
                .then(() => {
                        localStorage.removeItem("user");
                        toggleDisplay([loginBtn, logoutBtn, signinBtn, signinUser]);
                        window.location.href = "/";
                    })
                .catch(err => console.error(err));
        });

        //Enable login functionality
        loginBtn.addEventListener("click", (e) => {
            e.preventDefault();            
            window.location.href = redirectUrl();
        });
    })
</script>