@import url(bootstrap.css);
body {
  background-color: white;
 }






























.requestcomment{
margin-left: 30%;
margin-right: 30%;
padding: 1%;
   }

   .task-title[data-category="planned"] {
    color: #4D9EF8;
}

.task-title[data-category="in-progress"] {
    color: #B87EF7;
}

.task-title[data-category="complete"] {
    color: #86D15A;
}