@import url(bootstrap.css);
/*$turqoise: #00a1a1;
$green: #00956c;
$bgwhite: #f4f8f8;
$white: #FFFF;
$font-family: 'Raleway', sans-serif;*/


body {
  font-family: "Raleway", sans-serif; 
  background-color: #f1fafa;
}

textarea {
  width: auto;
}

.navbar {
background-color: #1f9e85;
margin-bottom: 25px;
}

#signin {
  line-height: 43px !important;
  margin-left: 2px;
  padding: 0 34px;
  background: #fff;
  color: #01a1a1;
  border: 2px solid #fff;
  font-weight: 700 !important;
  border-radius: 4px
} 

#login {
  line-height: 43px !important;
  padding: 0 34px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 700 !important;
  border-radius: 4px
}

#login:hover {
  background: #fff;
  color: #01a1a1
}

#btngreen {
  background-color: #00956c;
    line-height: 43px !important;
    padding: 0 34px;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 700 !important;
    border-radius: 4px;
    float: right;
    margin: 10px;
  }
  
  #btngreen:hover {
    background: #fff;
    color: #01a1a1;
    border: 2px solid #00956c;
    float: right;
  }

  #details {
    height: 200px;
  }

.card-header {
  background-color: #3A8771;
}

.card-body {
  height: 80vh;
}
header, section, footer {
  color: black; 
}

.card-text, .card-title {
  color: black;
}


footer {
  font-size: 14px; 
}

.FeaureRequest{
  padding: 2%;
   }

   /*Tekst*/
   .commenttekst{
    color: black;
         }
    
    .commenttitle{
      color: black;
      font-weight: bold;
           }
    
    
    #roadmaptitle{
      color: black;
           }

#tekst {
  color: #707070;
  }
  
  #tekst:hover {
    color: #489F5D; 
    text-decoration-line: underline;
  }
    
    #commentstylling{
    border-color: #A8A8A8;
    border-radius: 5%;
    width: 10%;
    background-color: #FCFCFC;
    }

    /*Knapper*/
.btn-outline-primary {
  border-color: #A8A8A8;
  color: black;
  width: 50%;
}

.btn-outline-primary:hover {
background-color: #00956c;
border-color: #00956c;
}

.status{
  background-color: #4FA0F8;
  border-radius: 10px;
  width: 12%;
  padding: 1%;
  color: white;
font-size: small;
  }

  .comment{
    padding: 0;
    border: none;
    background: none;
    }

    .comment:hover {
      background-color: #00956c;
      border-color: #00956c;
      color: white;
      border-radius: 10%;
      padding: 1%;
      }


/*Roadmap menu*/

  #menu {
  padding: 10px;
  text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.section {
  padding: 20px;
}

h2 {
  color: #333;
}

/*Scroll function*/

.with-scroll .scroll-box {
  max-height: 500px; 
  overflow-y: auto;
  padding: 5px;
}

.with-scroll .scroll-box p {
 margin: 15;
}


.with-scroll .scroll-box-feature {
  max-height: 550px; 
  overflow-y: auto;
  padding: 5px;
}

.with-scroll .scroll-box-feature p {
  margin: 20;
}


.commentsShow {
  color: black;
  display: none;
}

#comment-header {
  display: none;
}

#commentsDiv {
  background-color: #cccccc33;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
}

#commentsDiv div {
  background-color: white;

}

.commentsUnderTitel {
  font-size: 25px;
  margin-top: 10px;
}

#backBtnComments {
  margin-top: 20px;
}