@import url(bootstrap.css);
/*$turqoise: #00a1a1;
$green: #00956c;
$bgwhite: #f4f8f8;
$white: #FFFF;
$font-family: 'Raleway', sans-serif;*/


body {
  font-family: "Raleway", sans-serif;
  background-color: #f1fafa;
}

/*Nav*/

textarea {
  width: auto;
}

.navbar {
  background-color: #1f9e85;
  margin-bottom: 25px;
}

#signin {
  line-height: 43px !important;
  margin-left: 2px;
  padding: 0 34px;
  background: #fff;
  color: #01a1a1;
  border: 2px solid #fff;
  font-weight: 700 !important;
  border-radius: 4px
}

#login,
#logout {
  line-height: 43px !important;
  padding: 0 34px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 700 !important;
  border-radius: 4px
}

#login:hover,
#logout:hover {
  background: #fff;
  color: #01a1a1
}

#btngreen {
  background-color: #E08531;
  line-height: 43px !important;
  padding: 0 34px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 700 !important;
  border-radius: 10px;
  float: right;
  margin: 10px;

}

#btngreen:hover {
  background: #fff;
  color: #E08531;
  border: 2px solid #E08531;
  float: right;
}

#details {
  height: 200px;
  resize: none;
}

#createForm input.required:invalid,
#createForm select.required:invalid,
#createForm textarea.required:invalid {
  border: 1px solid red;
}

#request-textarea, #comment-textarea {
  position: relative;
}

.character-counter {
  position: absolute;
  bottom: 0;
  right: 1%;
  width: 100%;
  text-align: right;
  color: #E08531;
}

.card-header {
  background-color: #3A8771;
}

.card-body {
  min-height: 80vh;
  height: auto;
}

header,
section,
footer {
  color: black;
}

.card-text,
.card-title {
  color: black;
}


footer {
  font-size: 14px;
}

.FeaureRequest {
  padding: 2%;
}

/*Tekst*/
.commenttekst {
  color: black;
  padding-top: 1%;
}

.comment-div {
  border-bottom: 1px solid #646464;
  margin-top: 20px;
}


.comment-date {
  font-size: 14px;
  font-weight: 500;
  color: #646464;
  margin-bottom: 0;
}

.commenttitle {
  color: black;
  font-weight: bold;
}


#roadmaptitle {
  color: black;
}

#tekst {
  color: #707070;
}

#tekst:hover {
  color: #489F5D;
  text-decoration-line: underline;
}

#commentstylling {
  border-color: #A8A8A8;
  border-radius: 5%;
  width: 10%;
  background-color: #FCFCFC;
}

/*Knapper*/
.feature-request:hover {
  background-color: rgb(245, 244, 244);
  border-radius: 10px;
}

#backBtnComments {
  background: #00956c;
  color: #ffff;
  border: 2px solid #00956c;
  border-radius: 10px;
  padding: 1%;
  width: 10%;
}

#backBtnComments:hover {
  background: #fff;
  color: #01a1a1;
  border: 2px solid #00956c;
}

#submit {
  background: #E08531;
  color: #ffff;
  border: 2px solid #E08531;
  border-radius: 10px;
  padding: 1%;
  width: 15%;
}

#submit:hover {
  background: #fff;
  color: #FFA154;
  border: 2px solid #FFA154;
}

.btn-outline-primary {
  border-color: #A8A8A8;
  color: black;
  width: 40%;
  height: 65px;
}

.smallupvote {
  border-color: #A8A8A8;
  border-radius: 10px;
  width: 60%;
  background-color: #FCFCFC;
  height: 60px;
  border-width: 1px;
}


.smallupvote:hover {
  background-color: #00956c;
  border-color: #00956c;
  color: white;
}

.btn-outline-primary:hover {
  background-color: #00956c;
  border-color: #00956c;
}

.status {
  background-color: #4FA0F8;
  color: white;
  border-radius: 12px;
  width: 12%;
  padding: 1%;
  font-size: 11px;
}

.comment {
  padding: 0;
  border: none;
  background: none;
}

/*Create Request button*/

#create-request-cta {
  background-color: #E08531;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: #E08531;
  padding: 5%;
  width: 87%;
  margin-bottom: 5%;
  border: 2px solid #E08531;
}

#create-request-cta:hover {
  background: #fff;
  color: #FFA154;
  border: 2px solid #FFA154;
}

/*Roadmap menu*/

#menu {
  padding: 10px;
  text-align: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.section {
  padding: 20px;
}

h2 {
  color: #333;
}

/*Scroll function*/

.with-scroll .scroll-box {
  max-height: 750px;
  overflow-y: auto;
  padding: 5px;
}

.with-scroll .scroll-box p {
  margin: 15;
}


.with-scroll .scroll-box-feature {
  max-height: 660px;
  overflow-y: auto;
  padding: 5px;
}

.with-scroll .scroll-box-feature p {
  margin: 20;
}

.scroll-container {
  overflow: hidden;
}


.commentsShow {
  color: black;
}


#commentsDiv {
  background-color: #cccccc33;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
  color: black;
}

#commentsDiv div {
  background-color: white;

}

.commentsUnderTitel {
  font-size: 25px;
  margin-top: 10px;
}

#backBtnComments {
  margin-bottom: 20px;
}

.feature-request {
  cursor: pointer;
  overflow-x: hidden;
}

.commentFormDiv {
  margin-top: 20px;
}

#comment {
  width: 100%;
  height: 150px;
  resize: none;
}

#submit {
  margin-top: 10px;
  float: right;
}

/* Searchbar*/
.search-container {
  text-align: center;
}

.search-box {
  position: relative;
  display: inline-block;
  right: 20%;
}

.search-icon {
  position: absolute;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

#searchInput {
  padding: 8px 30px 8px 30px;
  font-size: 19px;
  border-radius: 10px;
  border-color: #707070;
  width: 120%;
}

/*Filterbar*/
.dropdownmenu ul,
.dropdownmenu li {
  margin: 0;
  padding: 0;
}

.dropdownmenu li {
  float: right;
  position: relative;
  width: auto;
}

.dropdownmenu a {
  color: black;
  display: block;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

.dropdownmenu li:hover a {
  background: #00956c;
  color: white;
}

#submenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}

li:hover ul#submenu {
  opacity: 1;
  top: 40px;
  visibility: visible;
}

#submenu li {
  float: none;
  width: 100%;
}

#submenu a:hover {
  background: #00956c;
}

#submenu a {
  background-color: #01a1a1;
  font-size: small;
}

/*Feature request comment*/

.comment_header h4 {
  position: relative;
  color: #333;
  padding: 15px;
}

#commentForm {
  border-radius: 10px;
}

#commentsDiv {
  background-color: #ffff;
  font-size: 17px;
}

hr {
  border: none;
  border-top: 2px solid #999;
  color: #999;
  background-color: #fff;
  height: 1px;
  margin: 20px 0;
}

::-webkit-scrollbar {
  display: none;
}


/*Mobile*/
@media (max-width: 767px) {
  .with-scroll .scroll-box {
    max-height: 580px;
  }

  .with-scroll .scroll-box-feature {
    max-height: 600px;
  }

  #create-request-cta {
    padding: 2%;
    width: 97%;
    margin-bottom: 1%;
  }

  #searchInput {
    width: 135%;
  }

  .search-box {
    position: relative;
    display: inline-block;
    right: 14%;
  }

  .status {
    width: 25%;
    padding: 2%;
    font-size: 12px;
  }

  .smallupvote {
    width: 18%;
    height: 55px;
  }

  .btn-outline-primary {
    width: 18%;
    height: 60px;
  }

  #backBtnComments {
    width: 25%;
  }

}