<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="box box-left border card text-white mb-3">
                <div class="card-header">
                    <h4><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                            class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5" />
                        </svg> Feature Requests Comments</h4>
                </div>
                <div class="card-body bg-white">
                    <div class="FeaureRequest">
                        <!-- Including the backCTA -->
                        <%- include("../partials/components/backCTA.ejs") %>
                        
                        <% if (locals.feature_request_id) { %>
                            <script>
                                const requestId = <%- feature_request_id %>;            
                            </script>
                        <% } %>
                        
                        <% if (locals.admin) { %>
                            <form id="merge-request-form">
                                <select class="form-control" id="merge-request-select" name="merge-request-select" required>
                                    <option value="" disabled selected>Select a feature request</option>
                                </select>
                                
                                <button id="merge-request-cta" type="submit" class="btn">Merge current request into selected</button>
                            </form>
                            <div class="clear"></div>

                            <script>
                                //Fetch all feature requests and populate the merge list
                                fetchWrapper.get("/internal/feature-requests")
                                    .then(data => {
                                        const selectList = document.querySelector("#merge-request-select");
                                        for (let i = 0; i < data.featureRequests.length; i++) {
                                            if (data.featureRequests[i].id === requestId) {
                                                continue;
                                            }
                                            const request_id = data.featureRequests[i].id; 
                                            let request_title = data.featureRequests[i].title;
                                            if (request_title.length > 16) {
                                                request_title = request_title.substring(0, 15) + " ...";
                                            }
                                            const option = document.createElement("option");
                                            const textNode = document.createTextNode(`Request id: ${request_id}. ${request_title}`);

                                            option.appendChild(textNode);
                                            option.setAttribute("value", request_id);
                                            option.setAttribute("data-id", request_id)
                                            selectList.appendChild(option);
                                        }
                                    })
                                    .catch(err => console.error(err));    

                                    //Do a put request to merge the current feature request into a selected feature request
                                    const form = document.querySelector("#merge-request-form");
                                    form.addEventListener("submit", (e) => {
                                        e.preventDefault();
                                        const { "merge-request-select": request } = e.target;

                                        fetchWrapper.put(`/internal/feature-requests/${requestId}/merge`, {
                                            headers: {
                                                "Authorization": `Bearer ${JSON.parse(localStorage.getItem("user")).authorization}`,
                                                "Validation-Request-Type": "Merge"
                                            },
                                            body: {
                                                "merge-request-select": request.value
                                            }
                                        })
                                        .then(data => { 
                                            insertComments(data, true);
                                            document.querySelector("#merge-request-select").disabled = true;
                                            document.querySelector("#merge-request-cta").disabled = true;
                                            document.querySelector("#comment").disabled = true;
                                            document.querySelector("#is-logged-in-cta").disabled = true;
                                        })
                                        .catch(err => {
                                            try {
                                                const data = JSON.parse(err.message);
                                                insertMessage(data, "#merge-request-form");
                                            } catch (err) {
                                                console.error(err);
                                            }   
                                        })
                                    });
                            </script>
                        <% } %>
                            
                            <div class="row">
                                <div id="requestcomment" class="section with-scroll">
                                    <div class="scroll-box-feature feature-request-upvotes">
                                        <!-- Feature Requests html will go here once the data has been fetched from the server -->
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="comment_header">
                        <h4>Comments</h4>
                    </div>
                    <div id="commentsDiv">
                        <!-- Comments html will go here once the data has been fetched from the server -->
                    </div>
                    <div class="commentsShow">
                        <div class="commentFormDiv">
                            <form id="commentForm">
                                <div class="form-group" id="comment-textarea">
                                    <textarea class="form-control" name="comment" id="comment" placeholder="Write your comment here" maxlength="2000" required></textarea>
                                    <div class="character-counter">
                                        <span class="typed-characters">0</span>
                                        <span>/</span>
                                        <span class="maximum-characters">2000</span>
                                    </div> 
                                </div>
                                <button type="submit" id="submit" class="btn is-logged-in-cta">Comment</button>
                                <% if (!locals.loginInfo) { %>
                                    <!-- Including the loginLink -->
                                    <%- include("../partials/components/loginLink.ejs") %>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Including the roadmap -->
        <%- include("../partials/roadmap.ejs") %>
    </div>
</div>

<script>
    //Fetch a feature request and all its comments 
    fetchWrapper.get(`/internal/feature-requests/${requestId}/comments`)
        .then(data => {
            const request = data.featureRequest;
            const requestDiv = document.querySelector(".scroll-box-feature");
            
            const parseDate = Date.parse(request.createdAt);
            const date = new Date(parseDate).toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"});

            requestDiv.innerHTML = `
            <div class="feature-request" data-requestid=${request.id}>
                <div>
                    <h5 class="commenttitle">${request.title}</h5>
                </div>
                <div class="status">
                    <h7>${request.status}</h7>
                </div>
                <div class="row">
                    <div class="col-md 10">
                        <p class="commenttekst">${request.description}</p>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="commenttekst">${date}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="upvote-cta btn mr-2 mb-2 btn-pill btn-icon btn-outline-primary">
                            <span><i>↑</i></span>
                            <p class="upvote-p">${request.upvotes}</p>
                        </button>
                    </div>
                </div>
            </div>`
            return request;     
        })
        .then(request => {
            insertComments(request.Comments);

            if (request.parent_feature_request_id) {
                insertComments({
                    createdAt: request.updatedAt,
                    merged_request_id: request.parent_feature_request_id
                }, true);
                
                document.querySelector("#merge-request-select").disabled = true;
                document.querySelector("#merge-request-cta").disabled = true;
                document.querySelector("#comment").disabled = true;
                document.querySelector(".is-logged-in-cta").disabled = true;
            }
        })
        .then(() => enableUpvoteCTA(".upvote-cta"))
        .catch(err => console.error(err));

    //Add character count to comment field
    const commentElement = document.querySelector("#comment");
    const commentsChars = document.querySelector(".typed-characters");
    countCharacters(commentElement, (chars) => {
        commentsChars.textContent = chars;
    })

    //Do a post request to create a new comment and add it to the list of comments
    const commentForm = document.querySelector("#commentForm");
    commentForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const { comment } = e.target;
        
        fetchWrapper.post(`/internal/feature-requests/${requestId}/comments`, {
            headers: {
                "Authorization": `Bearer ${JSON.parse(localStorage.getItem("user")).authorization}`,
                "Validation-Request-Type": "Comment"
            },
            body: {
                comment: comment.value
            }
        })
        .then(data => {
            insertComments(data.createdComment);
            commentElement.value = "";
        })
        .catch(err => {
            try {
                const data = JSON.parse(err.message);
                insertMessage(data, "#commentForm");
            } catch (err) {
                console.error(err);
            }
        });
    });

    //Function to insert comments
    const insertComments = (comments, merged = false) => {
        if (!comments) {
            return;
        }

        if (!Array.isArray(comments)) {
            comments = [comments];
        }

        const commentsDiv = document.querySelector("#commentsDiv");
            for (i in comments) {
                const parseDate = Date.parse(comments[i].createdAt);
                const date = new Date(parseDate).toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric" });
                
                let commentsTag = `<p class="comment">`;
                    
                if (merged) {
                    commentsTag = `This post has been merged into: <a href="/feature-requests/${comments[i].merged_request_id}/comments#" style="color:black">${comments[i].merged_request_id}</a>`
                } else {    
                    const newLineArr = comments[i].comment.split("\n");
                    for (k in newLineArr) {
                        if (newLineArr[k] == "") {
                            commentsTag += `</p><p class="comment">`
                            continue;
                        }
                        const mergedPost = newLineArr[k].split(":feature_request_id:");
                        if (mergedPost[1]) {
                            commentsTag += `${mergedPost[0]} <a href="/feature-requests/${mergedPost[1]}/comments#" style="color:black">${mergedPost[1]}</a> ${mergedPost[2]} `
                        } else {
                            commentsTag += `${newLineArr[k]}<br/>`;
                        }
                    }
                }
                commentsTag += `</p>`

                commentsDiv.innerHTML += `
                    <div class="comment-div">
                        <p class="comment-user"><strong>${comments[i].User?.name || "Anonymous user"}</strong></p>   
                        ${commentsTag}
                        <p class="comment-date">${date}</p>
                    </div>
                `
            }
    }
</script>