<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="box box-left border card text-white mb-3">
                <div class="card-header">
                    <h4><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                            class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                            <path
                                d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5" />
                        </svg> Feature Requests Comments</h4>
                </div>
                <div class="card-body bg-white">
                    <div class="FeaureRequest">
                        <!-- Including the backCTA -->
                        <%- include("../partials/components/backCTA.ejs") %>
                            <div class="row">
                                <div id="requestcomment" class="section with-scroll">
                                    <div class="scroll-box-feature">
                                        <!-- Feature Requests html will go here once the data has been fetched from the server -->
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="comment_header">
                        <h4>Comments</h4>
                    </div>
                    <div id="commentsDiv">
                        <!-- Comments html will go here once the data has been fetched from the server -->
                    </div>
                    <div class="commentsShow">
                        <div class="commentFormDiv">
                            <form id="commentForm">
                                <div class="form-group" id="comment-textarea">
                                    <textarea class="form-control" name="comment" id="comment" placeholder="Write your comment here" maxlength="2000" required></textarea>
                                    <div class="character-counter">
                                        <span class="typed-characters">0</span>
                                        <span>/</span>
                                        <span class="maximum-characters">2000</span>
                                    </div> 
                                </div>
                                <button type="submit" id="submit" class="btn is-logged-in-cta">Comment</button>
                                <% if (!locals.loginInfo) { %>
                                    <!-- Including the loginLink -->
                                    <%- include("../partials/components/loginLink.ejs") %>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Including the roadmap -->
        <%- include("../partials/roadmap.ejs") %>
    </div>
</div>

<% if (locals.feature_request_id) { %>
    <script>
        const requestId = <%- feature_request_id %>;            
    </script>
<% } %>

<script>
    fetchWrapper.get(`/internal/feature-requests/${requestId}/comments`)
        .then(data => {
            const request = data.featureRequest;
            const requestDiv = document.querySelector(".scroll-box-feature");
            
            const parseDate = Date.parse(request.createdAt);
            const date = new Date(parseDate).toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"});

            requestDiv.innerHTML = `
            <div data-requestid=${request.id}>
                <div>
                    <h5 class="commenttitle">${request.title}</h5>
                </div>
                <div class="status">
                    <h7>${request.status}</h7>
                </div>
                <div class="row">
                    <div class="col-md 10">
                        <p class="commenttekst">${request.description}</p>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="commenttekst">${date}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="upvote-cta btn mr-2 mb-2 btn-pill btn-icon btn-outline-primary">
                            <span><i>↑</i></span>
                            <p>${request.upvotes}</p>
                        </button>
                    </div>
                </div>
            </div>`
            
               
            const comments = request.Comments;
            insertComments(comments);
        })
        .catch(err => console.error(err));


    const commentElement = document.querySelector("#comment");
    const commentsChars = document.querySelector(".typed-characters");
    countCharacters(commentElement, (chars) => {
        commentsChars.textContent = chars;
    })

    const commentForm = document.querySelector("#commentForm");
    commentForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const { comment } = e.target;
        
        fetchWrapper.post(`/internal/feature-requests/${requestId}/comments`, {
            headers: {
                "Authorization": `Bearer ${JSON.parse(localStorage.getItem("user")).authorization}`,
                "Validation-Request-Type": "Comment"
            },
            body: {
                comment: comment.value
            }
        })
        .then(data => insertComments(data.createdComment))
        .catch(err => {
            try {
                const data = JSON.parse(err.message);
                insertMessage(data, "#commentForm");
            } catch (err) {
                console.error(err);
            }
        });
    });

    const insertComments = (comments) => {
        if (!comments) {
            return;
        }

        if (!Array.isArray(comments)) {
            comments = [comments];
        }

        const commentsDiv = document.querySelector("#commentsDiv");
            for (i in comments) {
                const parseDate = Date.parse(comments[i].createdAt);
                const date = new Date(parseDate).toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric" });
                const newLineArr = comments[i].comment.split("\n");

                let commentsTag = `<p class="comment">`;
                for (k in newLineArr) {
                    if (newLineArr[k] == "") {
                        commentsTag += `</p><p class="comment">`
                        continue;
                    }
                    commentsTag += `${newLineArr[k]}<br/>`;
                }
                commentsTag += `</p>`

                commentsDiv.innerHTML += `
                    <div class="comment-div">
                        <p class="comment-user"><strong>${comments[i].User.name}</strong></p>   
                        ${commentsTag}
                        <p class="comment-date">${date}</p>
                    </div>
                `
            }
    }
</script>