<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="box box-left border card text-white mb-3">
                <div class="card-header"> <h4><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
                  </svg> Feature Requests</h4></div>
                <div class="card-body bg-white">
                    <!-- Including the backCTA -->
                    <%- include("../partials/components/backCTA.ejs") %>
                      
                    <h4 class="card card-header">New feature request</h2>
                        <form id="createForm">
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" id="category" name="category">
                                    <option value="" disabled selected>Select a Category</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title"
                                    placeholder="Short descriptive title">
                            </div>

                            <div class="form-group">
                                <label for="details">Details</label>
                                <textarea class="form-control" id="details" name="details"
                                    placeholder="Any additional details..."></textarea>
                            </div>

                            <button id="btngreen" type="submit" class="btn">Submit</button>
                        </form>
                </div>
            </div>
        </div>
        <!-- Including the roadmap -->
        <%- include("../partials/roadmap.ejs") %>
    </div>
</div>

<script>
    fetchWrapper.get("/categories")
        .then(data => {
            const selectList = document.querySelector(".form-control");
            for (let i = 0; i < data.categories.length; i++) {
                const category = data.categories[i].category; 
                const option = document.createElement("option");
                const textNode = document.createTextNode(category);

                option.appendChild(textNode);
                option.setAttribute("value", category);
                option.setAttribute("data-id", data.categories[i].id)
                selectList.appendChild(option);
            }
        })
        .catch(err => console.error(err));    
    
    const form = document.querySelector("#createForm");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const { category, title, details} = e.target;

        fetchWrapper.post("/featureRequests/create", {
            headers: {
                "Authorization": `Bearer ${JSON.parse(localStorage.getItem("user")).authorization}`
            },
            body: {
                category: { 
                    id: category.options[category.selectedIndex].dataset.id,
                    category: category.value
                },
                title: title.value,
                details: details.value
            }
        })
        .then(data =>  window.location.href = new URL(document.baseURI).origin)
        .catch(err => console.error(err));
    });
</script>