<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webdock</title>
</head>
<body>
    <main class="container">
        <h2>Feature Request</h2>
        <a href="/featureRequest">Request</a>
        <hr>
        <div class="list">
          <% for(let index in featureRequest) { %>
            <div class="list__item">
              <h3><a href="/featureRequest/<%= featureRequests[index].id %>"><%= featureRequests[index].title %></h3></a>
              <p><%= featureRequests[index].author %></p>
            </div>
          <% } %>
        </div>
      </main>
</body>
</html>