<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
	<link rel="stylesheet" href="/css/custom.css">
  </head>

  <%- include('../partials/components/header') %>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                <div class="box box-left border card text-white mb-3">
					<div class="card-header">Feature requests</div>
					<div class="card-body bg-white">
					  <p class="card-text text-black"><%- include('../pages/featureRequestCreate') %></p>
					</div>
				</div>
			</div>
            <div class="col-md-4">
                <div class="box box-right border card text-white mb-3">
					<div class="card-header">Roadmap</div>
					<div class="card-body bg-white">
					  <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi illum consequatur alias tempore vero fugiat, illo corrupti unde eum minus, delectus dolore maxime expedita perferendis voluptas provident quis ullam labore.</p>
					</div>
            </div>
        </div>
</body>


	</div>
    <footer class="text-center">
        &copy; 2023
    </footer>
</body>
</html>
