<div class="col-md-4">
    <div class="box box-right border card text-white mb-3">
        <div class="card-header">Roadmap</div>
        <div class="card-body bg-white">
            <div class="progresstitle">
                <div id="menu">
                    <ul>
                        <li><a id="tekst" href="#planned">Planned</a></li>
                        <li><a id="tekst" href="#inProgress">In Progress</a></li>
                        <li><a id="tekst" href="#complete">Complete</a></li>
                    </ul>
                </div>


                <div id="planned" class="section with-scroll">
                    <h5 class="commenttitle">Planned</h5>
                    <div class="scroll-box">
                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="commenttitle">Title</h6>
                                <p class="commenttekst">Contrary to popular belief, Lorem Ipsum is not simply random
                                    text.
                                    It has roots in a piece of classical Latin literature</p>
                            </div>

                            <div class="col-md-3">
                                <button class="smallupvote">
                                    <span><i>↑</i></span>
                                    <p>5</p>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="commenttitle">Title</h6>
                                <p class="commenttekst">Contrary to popular belief, Lorem Ipsum is not simply random
                                    text.
                                    It has roots in a piece of classical Latin literature</p>
                            </div>

                            <div class="col-md-3">
                                <button class="smallupvote">
                                    <span><i>↑</i></span>
                                    <p>5</p>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="commenttitle">Title</h6>
                                <p class="commenttekst">Contrary to popular belief, Lorem Ipsum is not simply random
                                    text.
                                    It has roots in a piece of classical Latin literature</p>
                            </div>

                            <div class="col-md-3">
                                <button class="smallupvote">
                                    <span><i>↑</i></span>
                                    <p>5</p>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="commenttitle">Title</h6>
                                <p class="commenttekst">Contrary to popular belief, Lorem Ipsum is not simply random
                                    text.
                                    It has roots in a piece of classical Latin literature</p>
                            </div>

                            <div class="col-md-3">
                                <button class="smallupvote">
                                    <span><i>↑</i></span>
                                    <p>5</p>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="inProgress" class="section with-scroll" style="display: none;">
                    <h5 class="commenttitle">In Progress</h5>
                    <div class="scroll-box">
                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="commenttitle">Title</h6>
                                <p class="commenttekst">Contrary to popular belief, Lorem Ipsum is not simply random
                                    text.
                                    It has roots in a piece of classical Latin literature</p>
                            </div>

                            <div class="col-md-3">
                                <button class="smallupvote">
                                    <span><i>↑</i></span>
                                    <p>5</p>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="complete" class="section with-scroll" style="display: none;">
                    <h5 class="commenttitle">Complete</h5>
                    <div class="scroll-box">
                        <div class="row">
                            <div class="col-md-9">
                                <h6 class="commenttitle">Title</h6>
                                <p class="commenttekst">Contrary to popular belief, Lorem Ipsum is not simply random
                                    text.
                                    It has roots in a piece of classical Latin literature</p>
                            </div>

                            <div class="col-md-3">
                                <button class="smallupvote">
                                    <span><i>↑</i></span>
                                    <p>5</p>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    /* document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll('a[href^="#"]');
        links.forEach(link => {
            link.addEventListener('click', toggleSection);
        });
    });

    function toggleSection(e) {
        e.preventDefault();

        const targetId = e.target.getAttribute('href').substring(1);
        console.log(targetId)
        const targetElement = document.getElementById(targetId);


        const sections = document.querySelectorAll('.section');
        sections.forEach(section => {
            section.style.display = 'none';
        });


        targetElement.style.display = 'block';


        window.scrollTo({
            top: targetElement.offsetTop,
            behavior: 'smooth'
        });
    } */
</script>