<div class="col-md-2">
    <div class="button-container">
        <div id="container-request">
            <button onclick="location.href='/createFeatureRequest';" id="create-request-cta">Create Request</button>
        </div>
    </div>
</div>