<div class="feature-request">
    <div class="feature-request">
        <p class="feature-request-title"></p>
        <p class="feature-request-description"></p>
        <div class="upvote">
            <span class="upvote-amount"></span>
            <button class="upvote-cta">Upvote</button>
        </div>
    </div>
    <script>
        fetch("/featureRequests/1537979745") //edit to the actually feature requests ID
            .then(res => res.json())
            .then(data => {
                document.querySelector(".feature-request-title").innerHTML = data.title;
                document.querySelector(".feature-request-description").innerHTML = data.description;
            });
        
        const getUpvotes = () => {
            fetch("/featureRequests/1537979745/upvotes") //edit to the actually feature requests ID
                .then(res => res.json())
                .then(data => {
                    document.querySelector(".upvote-amount").innerHTML = data.amount;
                });
            }
        getUpvotes();

        document.querySelector(".upvote-cta").addEventListener("click", () => {
            fetch("/featureRequests/1537979745/upvotes", { //edit to the actually feature requests ID
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    user_id: 1 //edit to the logged in users ID
                })
            }).then((data) => {
                if(data.status === 200) {
                    getUpvotes();
                }
            })
        });
    </script>
</div>