<div class="container">
    <div class="row">
        <div class="col-md-8">
            <nav class="dropdownmenu">
                <li><a href="#">Sort &darr;</a>
                    <ul id="submenu">
                      <li><a href="#">Trending</a></li>
                      <li><a href="#">Top</a></li>
                      <li><a href="#">New</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Post In &darr;</a>
                    <ul id="submenu">
                      <li><a href="#">All Categories</a></li>
                      <li><a href="#">Dashboard Features</a></li>
                      <li><a href="#">Documentaion</a></li>
                      <li><a href="#">Billing Features</a></li>
                      <li><a href="#">Networking</a></li>
                      <li><a href="#">Hardware And Products </a></li>
                      <li><a href="#">Perfect Server Stacks</a></li>
                      <li><a href="#">Mobile App</a></li>
                      <li><a href="#">Webdock API</a></li>
                      <li><a href="#">Compettion</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Showing &darr;</a>
                    <ul id="submenu">
                      <li><a href="#">Under Review</a></li>
                      <li><a href="#">Planned</a></li>
                      <li><a href="#">In Progress</a></li>
                      <li><a href="#">Complete</a></li>
                      <li><a href="#">My Own</a></li>
                    </ul>
                  </li>
              </nav>
        </div>