<div class="container">
    <div class="row">
        <div class="col-md-8">
            <nav class="dropdownmenu">
                <li><p>Sort &darr;</p>
                    <ul id="submenu">
                      <li><a href="#">Trending</a></li>
                      <li><a href="#">Top</a></li>
                      <li><a href="#">New</a></li>
                    </ul>
                  </li>
                  <li><p>Post In &darr;</p>
                    <ul id="submenu" class="category">
                    </ul>
                  </li>
                  <li><p>Showing &darr;</p>
                    <ul id="submenu" class="status">
                    </ul>
                  </li>
              </nav>
        </div>