<div class="col-md-2">
    <div class="search-container">
        <div class="search-box">
            <label for="searchInput" class="search-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#D2D2D2" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </label>
            <input type="text" id="searchInput" placeholder="Search..." class="search-input">
        </div>
    </div>
</div>

<script>
    const searchString = document.querySelector("#searchInput");

    searchString.addEventListener("input", () => {
        fetchWrapper.get(`/internal/feature-requests?searchString=${searchString.value}`)
        .then(res => {
            fillRequests(res.featureRequests); //TO-DO Implement Debounce to improve performance
        })
        .catch(err => console.error(err))
    })
</script>