
<div id="container-request">
    <div id="create-request-cta">
        <a href="/?page=createFeatureRequest" id="create-request-cta">Create Request</a>
        <!-- <button id="create-request-cta">Create Request</button> -->
    </div>
</div>


<!-- <script>
    const cta = document.querySelector("#create-request-cta");
    cta.addEventListener("click", () => {
        fetch("/featureRequests/create", {
            method: "GET"
        })
        .then(res => res.text())
        .then(res =>  document.querySelector("#main-content").innerHTML = res)
    })
</script> -->

